.home-page-wrapper {
    --height: 70px;
    position: absolute;
    width: 100%;
    height: calc(100% - var(--height));
    margin-top: var(--height);
    padding: 0 60px;
    inset: 0px;
    overflow: hidden scroll;
}
